.kumarOne{
  font-family: 'Kumar One', cursive;
}

.spaceGrot{
  font-family: 'Space Grotesk', sans-serif;
  text-transform: uppercase;
}
.spaceGrot1{
  font-family: 'Space Grotesk', sans-serif;
  text-transform: uppercase;
  z-index:20;
}
.fixedNav{
  position:fixed;
  z-index:116289763;
}

/*.bgFlash{
  background-image:url(../assets/nav-group1-1.svg),url(../assets/nav-group2.svg);
  background-position:center, center;
  background-repeat:no-repeat,no-repeat;
  background-size:cover,cover;
}*/

.bgFlash{
  position: relative;
  overflow: hidden;
}
.bgFlash::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 200%;
  height: 200%;
  background-image:url(../assets/nav-group1-1.svg),url(../assets/nav-group2.svg);
  background-position:center, center;
  background-repeat:no-repeat,no-repeat;
  background-size:cover,cover;
  animation: anim 25s linear infinite alternate;
  z-index:0;
}

@keyframes anim {
  from {
    transform: scale(1) translateX(0);
  }
  to {
    transform: scale(1.5) translateX(-50%);
  }
}
.videoFlash{
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index:-1;
}
