h1 {
    font-weight: 500;
    margin: 0;
}

.links {
    text-decoration: none;
    color: darkblue;
}

.layout-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 6rem 0rem;
}

.header {
    background: navy;
    color: lightblue;
    padding: 10px 20px;
}

.navbar {
    display: flex;
    justify-content: space-around;
}

.footer {
    text-align: center;
}
.layout{
      background-color:#faf5ff;
}

.title {
    margin-bottom: 20px;
}

.post-card {
    text-align: left;
    border: 1px solid lightblue;
    margin-bottom: 20px;
    padding: 0 20px;
}
